body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* picture {
  flex-shrink: 0;
  max-width: 100%;
} */

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

.logo,
.footer-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  font-family: Raleway, sans-serif;
}

.logo-part {
  color: #4d5ae5;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
}

/* --------------------HEADER-------------------- */
.header {
  box-shadow: 0 1px 6px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%),
    0 2px 1px 0 rgb(46 47 66 / 8%);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  padding: 16px 0;
}

.navigation-list {
  display: none;
}

.navigation-item {
}

.contacts {
  display: none;
}

.contacts-item {
}

/*  */
.header .menu-open-btn {
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.open-btn-icon {
  fill: #2f2f37;
}

/* --------------------MOB-MENU-------------------- */

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mob-menu-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu .menu-close-btn {
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-menu-item {
}
.mob-menu-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu-item-link.current {
  color: #404bbf;
}

.mob-menu-contacts-wrap {
}
.mob-menu-contacts {
  min-width: 100%;
  margin-bottom: 48px;
}
.mob-menu-contacts-list {
  max-width: 100%;
}

.mob-menu-contacts-item {
  margin-bottom: 24px;
}
.mob-menu-contacts-item-link {
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}
.mob-menu-contacts-item:first-child .mob-menu-contacts-item-link {
  color: #4d5ae5;
}

.mob-menu-soc-list {
  display: flex;
  gap: 40px;
  @media (max-width: 320px) {
    gap: calc(40px - (320px - 100vw) * 0.33);
  }
}
.mob-menu-soc-item {
}
.mob-menu-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mob-menu-social-icon {
  fill: #f4f4fd;
}
/* --------------------HERO-------------------- */
.hero-section {
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  text-align: center;
  background-image: linear-gradient(rgb(46 47 66 / 70%), rgb(46 47 66 / 70%)),
    url("../images/people-office-mob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 428px;
  min-height: 432px;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(rgb(46 47 66 / 70%), rgb(46 47 66 / 70%)),
      url(../images/people-office-mob@2x.jpg);
  }
}

@media screen and (min-width: 428px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(rgb(46 47 66 / 70%), rgb(46 47 66 / 70%)),
      url("../images/people-office-tab.jpg");
  }
}
/*
@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    background-image: linear-gradient(rgb(46 47 66 / 70%), rgb(46 47 66 / 70%)),
      url("../images/people-office-desctop.jpg");
  }
} */

.hero-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 72px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 16px 32px;
}

.button:hover,
.button:focus {
  background: #404bbf;
}

/* --------------------DESCRIPTION-------------------- */

.description-section {
}

.description-title {
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.description-item {
  flex-basis: 100%;
}

.description-ico-wrap {
  /* display: flex; */
  display: none;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.description-ico {
}

.description-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}

.description-item-text {
  font-weight: 500;
}
/* --------------------TEAM-------------------- */

.team-section {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  /* width: calc((100% - 24px * 3) / 4); */
  max-width: 264px;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%),
    0 1px 6px 0 rgb(46 47 66 / 8%);
}

.team-image {
}

.team-item-content {
  padding: 32px 16px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-role {
  margin-bottom: 8px;
}

.footer-soc-list,
.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;

  @media (max-width: 320px) {
    gap: calc(24px - (320px - 100vw) * 0.33);
  }
}

.footer-soc-item,
.team-soc-item {
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  background-color: #4d5ae5;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* --------------------PORTFOLIO-------------------- */

.portfolio-section {
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* flex-basis: calc((100% - 48px) / 3); */
  flex-basis: 100%;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgb(46 47 66 / 8%), 0 1px 1px 0 rgb(46 47 66 / 16%),
    0 1px 6px 0 rgb(46 47 66 / 8%);
  cursor: pointer;
}

.portfolio-item-content {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-image {
}

.portfolio-image-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: #4d5ae5;
}

.portfolio-item:hover .portfolio-image-text,
.portfolio-item:focus .portfolio-image-text {
  transform: translateY(0);
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-category {
}

/* --------------------FOOTER-------------------- */

.footer .container {
  display: flex;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  text-align: center;
}

.footer-container {
  /* margin-right: 120px; */
}

.footer {
  padding: 96px 0;
  background: #2e2f42;
}

.footer-logo {
  display: block;

  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
  text-align: start;
}

.footer-link-container {
}

.footer-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

/* .footer-form-container {
  margin-left: auto;
} */

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.footer-input {
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
  padding: 8px 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-btn {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}

.footer-btn-icon {
  fill: #fff;
}

/* --------------------MODAL-------------------- */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  background-color: rgb(46 47 66 / 40%);
  visibility: hidden;
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 288px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%),
    0 2px 1px 0 rgb(0 0 0 / 20%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.modal-backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale(1.5);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  align-items: center;
  background-color: #e7e9fc;
  justify-content: center;
}

.close-btn:hover {
  border: none;
  background-color: #404bbf;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon {
  fill: #fff;
}

.modal-form {
  padding: 72px 16px 24px;
}

.form-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.form-field label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 36px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  border: 1px solid rgb(46 47 66 / 40%);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: none;
}

.form-input:focus,
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
  fill: #2e2f42;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #434455;
  border: 1px solid rgb(46 47 66 / 40%);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: none;
  resize: none;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-align: inherit;
  color: rgb(46 47 66 / 40%);
}

.check-field {
  padding-bottom: 24px;
}

.modal-check:checked + .modal-check-text .modal-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-check:checked + .modal-check-text .icon-check {
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.modal-checkbox {
  min-width: 16px;
  min-height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.icon-check {
}

.modal-btn {
  display: block;
  margin: 0 auto;
}
/* --------------------TABLET-------------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* --------------------HEADER-------------------- */

  .logo {
    padding: 24px 0;
  }

  .navigation {
    display: flex;
    /* align-items: center; */
    gap: 120px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .navigation-item-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-item-link:hover,
  .navigation-item-link:focus,
  .contacts-item-link:hover,
  .contacts-item-link:focus {
    color: #404bbf;
  }

  .navigation-item-link.current {
    position: relative;
    color: #404bbf;
  }

  .navigation-item-link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1, 1);
    background-color: #404bbf;
    content: "";
  }

  .navigation-item-link:hover.current::after {
    transform: scale(0.3, 0.5);
  }

  .contacts {
    display: block;
    /* align-items: center; */
    margin-left: auto;
  }

  .contacts-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 12px; */
    /* justify-content: flex-end; */
    padding: 10px 0;
    text-align: end;
  }

  .contacts-item-link {
    display: block;
    padding: 6px 0;
    /* padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; */
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header .menu-open-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  /* --------------------HERO-------------------- */

  .hero-section {
    padding: 112px 0;
    background-image: linear-gradient(rgb(46 47 66 / 70%), rgb(46 47 66 / 70%)),
      url("../images/people-office-tab.jpg");
    max-width: 768px;
    min-height: 436px;
  }

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgb(46 47 66 / 70%),
          rgb(46 47 66 / 70%)
        ),
        url(../images/people-office-tab@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  /* --------------------DESCRIPTION-------------------- */

  .description-list {
    column-gap: 24px;
  }

  .description-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .description-subtitle {
    text-align: left;
  }
  /* --------------------TEAM-------------------- */

  /* --------------------PORTFOLIO-------------------- */
  .portfolio-list {
    row-gap: 72px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* --------------------FOOTER-------------------- */

  .footer .container {
    gap: 72px 24px;
    justify-content: flex-start;
    text-align: start;
    padding-left: 92px;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-soc-list {
    gap: 16px;
  }

  /* --------------------MODAL-------------------- */

  .modal {
    min-width: 408px;
    max-width: none;
    max-height: 80%;
  }
}
